.Container {
  height: 4rem;
  border-radius: 9999px;
  border: none;
  background-color: var(--green-600);
  color: var(--gray-800);
  padding: 0 4rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  transition: filter 0.2s;

  &:not(:disable):hover {
    filter: brightness(0.8);
  }

  &:disabled {
    cursor: not-allowed;
    filter: brightness(0.7);
  }
}