.Container {
  height: 5rem;
  border-bottom: 1px solid var(--gray-600);
  background-color: var(--gray-800);
}

.Content {
  max-width: 70rem;
  margin: 0 auto;
  height: 5rem;
  display: flex;
  align-items: center;

  strong {
    color: var(--green-500);
    font-weight: bold;
    font-size: 2rem;

    span {
      color: var(--white-50);
    }
  }

  nav {
    margin-left: 5rem;
    font-weight: 700;
    height: 5rem;

    a {
      line-height: 5rem;
      transition: filter 0.2s;
      position: relative;
      display: inline-block;

      &:hover {
        filter: brightness(0.8);
      }

      & + a {
        margin-left: 2rem;
      }

      &::after {
        content: "";
        background-color: var(--green-500);
        position: absolute;
        bottom: 1px;
        left: 0;
        height: 3px;
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
  }

  button {
    margin-left: auto;
  }
}